<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Lap Chi Wong">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <title>500 Internal Server Error</title>
        <style>
            .bg-img {
                background-image: url("https://bgr.com/wp-content/uploads/2022/11/AdobeStock_111475883.jpg?resize=1536%2C864&quality=82");           
            }
            .warn-title {
                color: lightblue;
            }
            .warn-body {
                color: blue;
                font-weight: 600;
            }
        </style>
    </head>
    <body>
        <%- include('partials/navbar', {page: ''}) %>
        <div class="container mx-auto p-4">
            <div class="hero min-h-screen bg-img rounded p-6">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold warn-title">500</h1>
                        <p class="py-6 warn-body"><%= message %></p>
                    </div>
                </div>
            </div>
        </div>        
    </body>
</html>