<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Lap Chi Wong" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <title>Lego Collection</title>
        <script>
            const loadDom = (sets) => {
                const divLegoSetContainer = document.getElementById('lego-set');
                divLegoSetContainer.innerHTML = '';
                for (const set of sets) {
                    const divCard = document.createElement('div');
                    divCard.classList.add('card', 'bg-base-100', 'shadow-xl');

                    const figure = document.createElement('figure');
                    const imgThumb = document.createElement('img');
                    imgThumb.setAttribute("src", set.img_url);
                    figure.appendChild(imgThumb);

                    const divCardBody = document.createElement('div');
                    divCardBody.classList.add('card-body');

                    const headerName = document.createElement('h2');
                    const rowYear = document.createElement('p');
                    const rowSetNum = document.createElement('p');
                    const rowParts = document.createElement('p');
                    const rowTheme = document.createElement('p');
                    
                    headerName.classList.add('card-title');
                    headerName.innerHTML = set.name || '';
                    rowYear.innerHTML = `Year: ${set.year || ''}`;
                    rowSetNum.innerHTML = `Set No.: ${set.set_num || ''}`;
                    rowParts.innerHTML = `Inventory: ${set.num_parts || ''} parts`;
                    rowTheme.innerHTML = `Theme: ${set.theme || ''}`;

                    const divAction = document.createElement('div');
                    divAction.classList.add('card-actions', 'justify-end');

                    const link = document.createElement('a');
                    link.classList.add('btn', 'btn-primary');
                    link.setAttribute("href", `/lego/sets/${set.set_num}`);
                    link.innerHTML = 'Go';                    

                    divAction.appendChild(link);
                    divCardBody.appendChild(headerName);
                    divCardBody.appendChild(rowYear);
                    divCardBody.appendChild(rowSetNum);
                    divCardBody.appendChild(rowParts);
                    divCardBody.appendChild(rowTheme);
                    divCardBody.appendChild(divAction);
                    divCard.appendChild(figure);
                    divCard.appendChild(divCardBody);
                    divLegoSetContainer.appendChild(divCard);
                }
            };

            window.addEventListener("load", async e => {
                const sets = [
                    {
                        set_num: "75996-1",
                        name: "Aquaman & Storm",
                        year: "2018",
                        theme_id: "695",
                        num_parts: "197",
                        img_url: "https://cdn.rebrickable.com/media/sets/75996-1.jpg",
                        theme: "Super Heroes DC"
                    },
                    {
                        set_num: "75997-1",
                        name: "Ant-Man & The Wasp",
                        year: "2018",
                        theme_id: "696",
                        num_parts: "218",
                        img_url: "https://cdn.rebrickable.com/media/sets/75997-1.jpg",
                        theme: "Super Heroes Marvel"
                    },
                    {
                        set_num: "76000-1",
                        name: "Arctic Batman vs. Mr. Freeze: Aquaman on Ice",
                        year: "2013",
                        theme_id: "697",
                        num_parts: "199",
                        img_url: "https://cdn.rebrickable.com/media/sets/76000-1.jpg",
                        theme: "Batman"
                    }
                ];
                loadDom(sets);
            });
        </script>
    </head>
    <body>
        <%- include('partials/navbar', {page: ''}) %>
        <div class="container mx-auto p-4">
            <div class="hero bg-base-200 rounded p-6">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold">Welcome!</h1>
                        <p class="py-6">In this Lego world, you can pick your favorite themes of lego set fitting your interests.</p>
                        <a class="btn btn-primary" href="/lego/sets/">See Our Collections!</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 bg-base-200" id="lego-set">
            </div>
        </div>
    </body>
</html>
